{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
    <h1>Todo index</h1>
    <p>trier ?</p>
    <div>
        <a href="{{ path('app_todo_index') }}" style="text-decoration: none;">
            <button class="btn btn-info" style="background: #2c3e50; color: white;">Tous</button>
        </a>
        <a href="{{ path('app_todo_sort', { etat: 'en_attente' }) }}" style="text-decoration: none;">
            <button class="btn btn-info" style="background: #2c3e50; color: white;">En attente</button>
        </a>
        <a href="{{ path('app_todo_sort', { etat: 'en_cours' }) }}" style="text-decoration: none;">
            <button class="btn btn-info" style="background: #2c3e50; color: white;">En cours</button>
        </a>
        <a href="{{ path('app_todo_sort', { etat: 'termine' }) }}" style="text-decoration: none;">
            <button class="btn btn-info" style="background: #2c3e50; color: white;">Terminé</button>
        </a>

    </div>

    <table class="table" border>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Etat</th>
                <th>Montrer</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                <th>terminer</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}



            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.libelle }}</td>
                <td>{{ todo.etat }}</td>
                <td>
                    <a href="{{ path('app_todo_show', {'id': todo.id}) }}" style="text-decoration: none;">
                        <button class="btn btn-secondary">
                            <i class="fas fa-camera"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_todo_edit', {'id': todo.id}) }}" style="text-decoration: none;">
                        <button class="btn btn-primary">
                            <i class="fas fa-pencil-alt" style="color:white"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <form action="{{ path('app_todo_delete2', {'id': todo.id}) }}" method="get" style="display: inline;">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt" style="color:white"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <a href="{{ path('app_todo_complete', {'id': todo.id}) }}" style="text-decoration: none;">
                        <button class="btn btn-primary">
                            <i class="fas fa-check" style="color:white"></i>
                        </button>
                    </a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <button class="btn btn-success"  style="background: #2c3e50">
        <a href="{{ path('app_todo_new') }}" style="color:white; text-decoration:none;">créer nouvelle tache</a>
    </button>

    <button class="btn btn-success"  style="background: #2c3e50">
        <a href="{{ path('app_user_index') }}" style="color:white; text-decoration:none;">voir les utilisateurs</a>
    </button>

    <button class="btn btn-success"  style="background: #2c3e50">
        <a href="{{ path('app_categorie_index') }}" style="color:white; text-decoration:none;">voir les categories</a>
    </button>
{% endblock %}
